# Route everything through ittywiki.php for processing

<IfModule mod_rewrite.c>

	# turn redirects on
	RewriteEngine On

	# change to subdir of installed wiki
	# or the routing WILL NOT work!
	RewriteBase /ittywiki

	# reroute url requests to ittywiki.php for processing
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*) ittywiki.php [L]

</IfModule>

# routes "/" to ittywiki.php
DirectoryIndex ittywiki.php