.tip-tip {
  font-size: 12px;
  position: absolute;
  top: 20px;
  padding-top: 5px;
  z-index: 9999;
}
.tip-tip .tip-inner {
  color: #f7f7f7;
  background-color: #444444;
  padding: 5px 8px 4px 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  max-width: 200px;
}
.tip-tip .tip-inner * {
  margin: 0;
  padding: 0;
}
.tip-tip .tip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #444444;
}
.tip-tip.top .tip-arrow,
.tip-tip.bottom .tip-arrow {
  border-left-color: transparent;
  border-right-color: transparent;
}
.tip-tip.top.right,
.tip-tip.bottom.right {
  text-align: right;
}
.tip-tip.top.right .tip-arrow,
.tip-tip.bottom.right .tip-arrow {
  right: 0;
}
.tip-tip.top .tip-arrow {
  border-bottom-color: #444444;
  top: 0;
  border-bottom-style: solid;
  border-top: none;
}
.tip-tip.top.left .tip-inner {
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
}
.tip-tip.top.right .tip-inner {
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
}
.tip-tip.bottom .tip-arrow {
  border-top-color: #444444;
  bottom: -5px;
  border-top-style: solid;
  border-bottom: none;
}
.tip-tip.bottom.left .tip-inner {
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
}
.tip-tip.bottom.right .tip-inner {
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
}
